@font-face {
	font-family: "Roboto-Light";
	src: local("Roboto-Light"),
		url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto-Bold";
	src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Regular";
	src: local("Roboto-Regular"),
		url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Italic";
	src: local("Roboto-Italic"),
		url("../fonts/Roboto-Italic.ttf") format("truetype");
}


.uploadimage{
	width:130px;
	height:80px;
	object-fit:cover;
	border: solid steelblue 1px;
}

.previmage{
	width:130px;
	height:80px;
	object-fit:cover;
	border: solid red 2px;
}

.bglogin {
	/*background-color:red;*/
	background-image: url("../assets/voting/bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
}

.bgcovercolor {
	background-color: blue;
	opacity: 0.2;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

.login {
	/*background-color:#005bd1;*/
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.loginForm,
.RegisterForm {
	width: "100%";
	padding: 20px;
	background-color: white;
	border-radius: 20px;
	color: black;
	font-family: "Roboto-Regular";
	min-width: 400px;
	animation: fadeIn 1s ease-in forwards;
}
a {
	color: black;
}

.navbar {
	padding: 10px !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f0f0f0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link {
	font-family: "Roboto-Regular";
	color: black;
	text-decoration: none;
	margin-right: 15px;
}

.voting_card {
	display: grid; /* Enable the grid layout */
	grid-template-columns: repeat(
		3,
		1fr
	); /* Create a grid with three equal-width columns */
	grid-gap: 20px;
}


.profile_card {
	display: grid; /* Enable the grid layout */
	grid-template-columns: repeat(
		5,
		1fr
	); /* Create a grid with three equal-width columns */
	grid-gap: 20px;
}

.textgroup {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "Roboto-Bold";
	animation: LeftfadeIn 1s ease-out forwards;
}

.text_thura {
	font-family: "Roboto-Light";
	padding: 2px;
	animation: fadeIn 1s ease-in forwards;
}

.profileLarge{
	max-width:180px;
	min-width:180px;
	max-height:180px;
	max-height: 180px;
	object-fit:cover;

}



@media (max-width: 1000px) {
	.loginForm {
		max-width: 370px;
		min-width: 370px;
	}

	.profile_card {
	display: grid; /* Enable the grid layout */
	grid-template-columns: repeat(
		4,
		1fr
	); /* Create a grid with three equal-width columns */
	grid-gap: 20px;
}
}

@media (max-width: 800px) {
	.loginForm {
		max-width: 370px;
		min-width: 370px;
	}

	.profile_card {
	display: grid; /* Enable the grid layout */
	grid-template-columns: repeat(
		3,
		1fr
	); /* Create a grid with three equal-width columns */
	grid-gap: 20px;
}
}

@media (max-width: 500px) {
	.loginForm {
		max-width: 370px;
		min-width: 370px;
	}

	.profile_card {
	display: grid; /* Enable the grid layout */
	grid-template-columns: repeat(
		2,
		1fr
	); /* Create a grid with three equal-width columns */
	grid-gap: 20px;
}
}

@media (max-width: 400px) {
	.profile_card {
	display: grid; /* Enable the grid layout */
	grid-template-columns: repeat(
		1,
		1fr
	); /* Create a grid with three equal-width columns */
	grid-gap: 20px;
}
	.loginForm {
		max-width: 370px;
		min-width: 290px;
	}
}

@keyframes LeftfadeIn {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
